<h1>Posts</h1>

<h2>What people are talking about</h2>
<% @popular_posts.each do |post| %>
  show_popular_post(post)
<% end %>

<h2>All Posts</h2>
<% for post in @posts %>
  show_popular_post(post)
<% end %>

